#chat-log .message {
  border: 2px solid #7a0a30;
  border-radius: 10px;
  margin: 10px;
}
.dice-roll .dice-formula {
  display: none;
}
.dice-roll .dice-formula.success {
  display: block;
}
.dice-roll .dice-formula, .dice-roll .dice-total {
  line-height: 20px;
}
#chat-log .message {
  margin: 1px;
}
#controls .scene-control, #controls .control-tool {
    width: 34px;
    height: 34px;
    font-size: 24px;
    line-height: 34px;
    margin: 0 0 4px;
}
